@import 'global';

.contact {
    height: 100vh;
    position: relative;

    .contactForm {
        width: 600px;
        position: absolute;
        top: 25%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -25%);
    }
    
    .label {
        color: $white;
    }

    input, textarea {
        background: $black !important;
        color: $white !important;
    }
}

.contactFormGreeting {
    color: $white;
    margin: 8rem auto 2rem auto;
}



.button {
    border: 2px solid $neonOrange !important;
    color: $neonOrange !important;
    width: 100%;
    margin-top: 1.2rem;

    &:hover {
        color: #fff !important;
        background: $neonOrange !important;
    }
}


@media (max-width: 767px) { 
    .contactForm {
        width: 90% !important;
    }

    .contactFormGreeting {
        font-size: 2rem;
    }
  }