@import 'global';

.introduction {
    background: $neonOrange;
    padding-bottom: 14.2rem;

    h3 {
        color: $white;
        font-weight: bold;
        padding-top: 5.2rem;
        margin-bottom: 1.5rem;
        font-family: 'Roboto', sans-serif !important;
    }

    p {
        color: $white;
    }

    .introText {
        width: 420px;
    }
}