@import 'global.scss';
@import 'mediaQueries.scss';

.projects {
    margin-top: 44rem;

    h2 {
        color: $white;
        margin-bottom: 5.4rem;
    }

    // .coinfolio {
    //     background: url('../../media/images/shutterstock_795136543.jpg') contain;
    //     height: 100%;
    // }

    .projectCard {
        height: 14rem;
        margin-bottom: 2rem;
        background: none;
        border-radius: 12px;
    }

    .cardImg {
        border-radius: 12px;
    }

    .github {
        text-align: center;
    }

    .githubLink {
        border-color: $neonOrange;
        color: $neonOrange;
        margin: 3rem 0;
        border-radius: 2rem !important;

        &:hover {
            color: #fff !important;
            background: $neonOrange !important;
            border: none !important;
        }
    }
}

@media (max-width: 1285px) {
    .projects {
        margin-top: 52rem;
    }
}

@media (max-width: 1036px) { 
    .projects {
        margin-top: 56rem;
    }
 }

 @media (max-width: 945px) { 
    .projects {
        margin-top: 62rem;
    }
 }

 @media (max-width: 843px) { 
    .projects {
        margin-top: 68rem;
    }
 }

 @media (max-width: 767px) { 
    .projects {
        margin-top: 136rem;
    }
  }

  @media (max-width: 556px) { 
    .projects {
        margin-top: 144.4rem;
    }
  }

  

  @media (max-width: 440px) { 
    .projects {
        margin-top: 152rem;
    }
  }

//   @media (max-width: 427px) { 
//     .projects {
//         margin-top: 144rem;
//     }
//   }

  @media (max-width: 411px) { 
    .projects {
        margin-top: 154rem;
    }
  }

  @media (max-width: 371px) { 
    .projects {
        margin-top: 175rem;
    }
  }




