@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center; }

h1, h2 {
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold !important; }

h3 {
  font-family: 'Lora', serif !important; }

.neonOrangeText {
  color: #FD5F00 !important; }

body {
  background: #040404 !important; }

.projects {
  margin-top: 44rem; }
  .projects h2 {
    color: #f2f2f2;
    margin-bottom: 5.4rem; }
  .projects .projectCard {
    height: 14rem;
    margin-bottom: 2rem;
    background: none;
    border-radius: 12px; }
  .projects .cardImg {
    border-radius: 12px; }
  .projects .github {
    text-align: center; }
  .projects .githubLink {
    border-color: #FD5F00;
    color: #FD5F00;
    margin: 3rem 0;
    border-radius: 2rem !important; }
    .projects .githubLink:hover {
      color: #fff !important;
      background: #FD5F00 !important;
      border: none !important; }

@media (max-width: 1285px) {
  .projects {
    margin-top: 52rem; } }

@media (max-width: 1036px) {
  .projects {
    margin-top: 56rem; } }

@media (max-width: 945px) {
  .projects {
    margin-top: 62rem; } }

@media (max-width: 843px) {
  .projects {
    margin-top: 68rem; } }

@media (max-width: 767px) {
  .projects {
    margin-top: 136rem; } }

@media (max-width: 556px) {
  .projects {
    margin-top: 144.4rem; } }

@media (max-width: 440px) {
  .projects {
    margin-top: 152rem; } }

@media (max-width: 411px) {
  .projects {
    margin-top: 154rem; } }

@media (max-width: 371px) {
  .projects {
    margin-top: 175rem; } }
